@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.image-div {
  background-image: url("../src/assets/greenstripe-01.png");
  background-size: cover;
  /* width: 300px;
  height: 200px; */
}

.pink-div {
  background-image: url("../src/assets/pink-01.png");
  background-size: cover;
}
