@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Hero image */
.image-div {
  background-image: url("../src/assets/greenstripe-01.png");
  background-size: cover;
}

/* 5th section image */
.pink-div {
  background-image: url("../src/assets/pink-01.png");
  background-size: cover;
}

/* Footer-icon */
.footer-icon{
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: 4px;
}